* {
  outline: 1px solid red !important;
}

.service-margin {
  align-items: center;
  margin-right: 30px;
  margin-bottom: 50px;
}

/*ヘッダー*/

.header-main {
  display: flex;
  justify-content: space-between;
}

.header-main h1 {
  font-size: 25px;
}

.header-nav {
  margin-top: auto;
  margin-right: 10px;
}

.header-ul {
  display: flex;
  justify-content: flex-end;
}
.header-li {
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  padding-left: 20px;
}

/*first-view*/
.first-view-img {
  width: 100%;
  height: auto;
  position: relative;
}

.first-view-content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.first-view-content h1 {
  color: rgb(252, 252, 252);
  white-space: nowrap;
  padding: 0 50px;
  font-size: 50px;
  display: flex;
}

.first-view-content p {
  color: rgb(255, 255, 255);
  white-space: nowrap;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

/*株式会社TECHの想い*/
.second-view {
  width: 100%;
  height: 400px;
  background-color: rgb(29, 28, 28);
  color: rgb(250, 250, 250);
}
.second-view-content {
  margin: auto;
}
/*サービス*/

.service-main {
  margin: 0 auto;
}

.service-main h1 {
  width: 100%;
  margin: 100px auto;
  margin-bottom: 30px;
  text-align: center;
}

.service-block {
  padding: 10px auto;
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
}

.service-first img {
  width: 100%;
  height: 400px;
}

.service-second img {
  width: 100%;
  height: 400px;
}

.service-third img {
  width: 100%;
  height: 400px;
}

.service-four img {
  width: 100%;
  height: 400px;
}

.service-btn {
  display: inline-block;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-left: 40%;
  margin-bottom: 30px;
  align-items: center;
}

.service-btn a {
  justify-content: space-between;
  padding: 30px 100px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(219, 27, 27);
}

/*ニュース*/
.news-container {
  width: 100%;
  height: 500px;
  background-color: rgb(37, 37, 37);
  color: rgb(248, 248, 248);
}

.news-block {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.news-block-list {
  height: 100%;
}

.news-flex-item {
  display: flex;
  text-align: "";
}

.news-btn {
  width: 150px;
  height: 20px;
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  background-color: rgb(204, 6, 6);
  color: aliceblue;
  padding: 5px 10px;
  margin-left: auto;
}

.news-block p {
  text-align: left;
}

.news-content {
  padding: 0;
}

.news-list {
  display: flex;
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  line-height: normal;
}

.news-date {
  margin-top: 0;
  margin-right: 30px;
  margin-top: auto;
}
.news-content-font {
  font-weight: bold;
}

/*ブログ*/

.blog-main {
  width: 100%;
  height: 500px;
}

.blog-main h1 {
  align-items: center;
  padding-left: auto;
}

.blog-block {
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.blog-card {
  display: block;
  margin: 0 20px;
}
.blog-img {
  width: 100%;
  height: px;
}
